[submodule "ppsi"]
	path = ppsi
	url = https://ohwr.org/project/ppsi.git
[submodule "shared"]
	path = shared
	url = https://CLB_CI:_4Q_RMFeHaSnzFWMKdne@git.km3net.de/clb/shared.git
  branch = master

