*.o
*.a
*.elf
*.bram
*.bin
*.map
*.mif
*~
*_disasm.S
*.vhd
*.cmd
*.d
.tmp_*
.config
.config.old
configs/tmp_defconfig
include/config
include/generated
size_db.txt
size_info.txt
*#
*.orig
.vscode
.depend
*.bk
disasm.S
.gdbinit
gitmodules
wrc.size
arch/risc-v/ram.ld
libertm/aux_logger
libertm/libertm_display.so
libertm/libertm.so
libertm/main
libertm/udev-find
tools/wrpc
tools/wrpc-load
