CONFIG_STACKSIZE=10240
CONFIG_IP=y
CONFIG_CMD_CONFIG=y
CONFIG_SYSLOG=y
# CONFIG_SNMP is not set
CONFIG_DEVELOPER=y
CONFIG_CMD_LL=y
CONFIG_CHECK_RESET=y
# CONFIG_ASSERT is not set
CONFIG_LATENCY_PROBE=y
